@{
    ViewBag.Title = "ЭХЛЭЛ";
}



<div class="row">
    <div >
        <div class="col">

            <form action="Process" method="post">
                <div class="form-group">
                    <label for="group1">РЕГИСТР : </label>
                    <input type="text" name="CitizenReg" id="group1" placeholder="Регистрийн дугаар оруулна уу .." class="form-control txtLeng">
                </div>
                <div class="form-group">
                    <label for="group2">УТАСНЫ ДУГААР : </label>
                    <input type="text" name="CitizenPhone" id="group2" placeholder="Утасны дугаар оруулна уу .." class="form-control txtLeng">
                </div>
                <input type="submit" value="харах" class="btn btn-warning">
            </form>

        </div>
    </div>
</div>




